<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="nl.x-services.plugins.launchmyapp"
        version="3.2.0">

  <name>Custom URL scheme</name>

  <description>
    Launch your app by using this URL:  mycoolapp://
    You can add a path and even pass params like this: mycoolerapp://somepath?foo=bar
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>
  
  <asset src="www/android/LaunchMyApp.js" target="LaunchMyApp.js" />


  <!-- android -->
  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="LaunchMyApp">
        <param name="android-package" value="nl.xservices.plugins.LaunchMyApp"/>
      </feature>
    </config-file>

    <source-file src="src/android/nl/xservices/plugins/LaunchMyApp.java" target-dir="src/nl/xservices/plugins"/>

  </platform>

</plugin>
